:root {
  --color-main: white;
  /* --color-secondary: #0cac72; */
  --color-secondary: #66fcf1;
  --color-tertiary: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: var(--color-main);
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  color: var(--color-main);
}
textarea {
  resize: none;
}
::-moz-selection {
  background-color: var(--color-secondary);
  color: var(--color-main);
}
::selection {
  background-color: var(--color-secondary);
  color: #fff;
}
body {
  font-family: "Raleway", sans-serif;
  color: var(--color-main);
}
